.hms {

    font-family: 'Noto Sans', sans-serif;
    background-color: #81e7d7;

}

.miku1 {

    width: 100%;
    display: flex;
    justify-content: center;

}

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}